
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: #4f853a;
  color: azure;
justify-content: center;
}

.nav-links{
  display: inline-flex;
  overflow: hidden;
  justify-content:space-between;
  text-decoration: none;
  align-items: center;
  text-align: center;
  list-style: none;
  font-size: 20px;
  justify-content: center;
  align-content: center;
  padding: 0px;
}

.nav-links li{
margin: 0 1rem;
float: left;
/* color: #f2f2f2; */
/* text-align: center; */

/* text-decoration: none;
font-size: 17px; */
}

@media (max-width:700px){
 .nav{
   display: flex;
   flex-wrap: wrap;
 }

 .nav-links{
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
  list-style: none;
 }
}